@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Dental Management</h1>
    <p class="lead">Your dental clinic management system made easy</p>
    <hr class="my-4">
    <p>Here you can manage patient records and treatment details.</p>
    <a class="btn btn-primary btn-lg" href="/Home/Privacy" role="button">Learn More</a>
</div>
<br></br>

<div class="row">
    <div class="col-md-6">
        <div class="card">


            <h1 class="text-center mt-4">🏥 </h1>
            <div class="card-body">
                <h5 class="card-title">Patients</h5>
                <p class="card-text">Keep track of all patient information and history.</p>
                <a href="/Patients" class="btn btn-primary">View Patients</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h1 class="text-center mt-4">💉 </h1>
            <div class="card-body">
                <h5 class="card-title">Treatment</h5>
                <p class="card-text">Manage and track patient treatments and progress.</p>
                <a href="/Treatments" class="btn btn-primary">View Treatments</a>
            </div>
        </div>
    </div>
</div>
