@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewData["Title"] - Dental Management API</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://bootswatch.com/5/flatly/bootstrap.css" rel="stylesheet" />

    <style>
   
        body, html {
            height: 100%;
        }

        .content {
            min-height: 100%;
            padding-bottom: 60px; 
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 20px 0;
        }
     
        .switch {
            position: fixed;
            top: 20px;
            right: 20px;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: 0.4s;
            border-radius: 34px;

        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                border-radius: 50%;
                left: 4px;
                bottom: 4px;
                background-color: white;
                transition: 0.4s;

            }


        input:checked + .slider {
            background-color: #4CAF50;
        }

            input:checked + .slider:before {
                transform: translateX(26px);
            }

        body.dark-mode {
            background-color: #121212;
            color: white;
        }

            body.dark-mode .navbar {
                background-color: #333;
                color: white;
            }

            body.dark-mode .table {
                background-color: #222;
                color: white;
            }
    </style>
</head>
<body>
    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="/">Dental Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Info/FAQ">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Info/AboutUs">AboutUS</a>
                        </li>
                    </ul>

                    <div class="container">
                        <label class="switch">
                            <input type="checkbox" id="theme-toggle">
                            <span class="slider round"></span>
                        </label>
                    </div>

                </div>
            </div>
        </nav>

        <div class="container mt-4">
            @RenderBody()
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const toggleSwitch = document.getElementById('theme-toggle');

        
            if (localStorage.getItem('theme') === 'dark') {
                document.body.classList.add('dark-mode');
                toggleSwitch.checked = true;
            }

            toggleSwitch.addEventListener('change', function() {
      
                if (toggleSwitch.checked) {
                    document.body.classList.add('dark-mode');
                    localStorage.setItem('theme', 'dark'); 
                } else {
                    document.body.classList.remove('dark-mode');
                    localStorage.setItem('theme', 'light'); e
                }
            });
        });
    </script>


   
    <footer>
        <div class="container text-center">
            <p>&copy; 2025 Dental Management. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>


